body {
    margin: 0;
    /* height: 1000px; */
    font-family: sans-serif;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

#nav-list {
    list-style-type: none;
    padding: 8px 20px;
    margin: 0;
    background-color: black;
}

#nav-list > li {
    display: inline-block;
}

.icon {
    width: 18px;
    padding: 10px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 50%;
}

.nav-home {
    margin-left: 4px;
}

.nav-home:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.nav-search {
    margin-left: 32%;
    width: 25%;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgb(51, 51, 51);
    border-radius: 55px;
    display: flex;
}

.nav-user {
    display: none;
}

#user-avt {
    width: 36px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

#user-avt:hover {
    transform: scale(1.05);
}

#user-avt:active {
    opacity: 0.5;
}

.user-list-information {
    display: none;
    
}

.active {
    display: block;
    position: absolute;
    width: 188px;
    top: 100%;
    color: #fff;
    list-style-type: none;
    right: 8px;
    background-color: rgb(55 54 54);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(166, 164, 164, 0.1);
}

.create-playlist-list, 
.edit-playlist-list {
    padding: 0;
    /* height: 30px; */
}

.create-playlist-list > li,
.edit-playlist-list > li {
    display: flex;
    padding: 10px;
}

.create-playlist-list > li:hover,
.edit-playlist-list > li:hover {
    cursor: default;
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
}

.ellipsis-menu  {
    padding: 0;
    margin: 0;
}

.ellipsis-menu > li,
.playlist-exist li {
    display: flex;
    padding: 12px;
    margin: 3px;
    border-radius: 3px;
}

.ellipsis-menu > li:hover,
.playlist-exist li:hover {
    cursor: default;
    background-color: #606060;
}

.active-playlist-menu {
    display: block;
    position: absolute;
    width: 188px;
    color: #fff;
    list-style-type: none;
    right: 8px;
    background-color: rgb(55 54 54);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(166, 164, 164, 0.1);
}

.active-ellipsis-menu,
.add-to-playlist-menu {
    display: block;
    position: absolute;
    width: 188px;
    color: #fff;
    list-style-type: none;
    right: 8px;
    background-color: #474747;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(166, 164, 164, 0.1);
}

.add-to-playlist-menu {
    max-height: 372px;
    display: none;
    z-index: 1;
}

.playlist-exist {
    padding: 0;
    margin: 0;
}

.show-more-icon {
    margin: auto 0;
}

.active-playlist-menu > ul {
    margin: 6px;
}

.user-list-information > li {
    display: flex;
    padding: 10px;
}

.user-list-information > li:hover {
    cursor: default;
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
}

.tag-list {
    margin: 0;
}

.tag-list-icon {
    margin-left: auto;
}

/* .search-icon {
    width: 10%;
} */

/* .svg-icon {
    width: 16px;
    height: 16px;
    color: #fff;
} */

.submit-icon {
    float: right;
}

.submit-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

input {
    width: calc(100% - 46*2px);
    color: #fff;
    background-color: rgb(51, 51, 51);
    border:none;
    outline: none;
}

.nav-signup, .nav-signin {
    float: right;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
}

.nav-signin {
    color: #ddd;
    margin-right: 24px;
}

.nav-signin:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
}

.nav-signup {
    padding-left: 16px;
    padding-right: 16px;
    width: max-content;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

.nav-signup:hover {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ddd;
    transform: scale(1.05);
}

#content {
    display: flex;
    margin-top: calc(47px + 10px);
    justify-content: space-between;
    padding: 0 10px;
}

.right-click-menu {
    display: none;
    position: absolute;
}

.your-playlists {
    color: #fff;
    background-color: #000;
    padding: 16px 24px;
    margin-top: 10px;
    min-width: 240px;
    min-height: 48px;
    border-radius: 12px;
}

.your-playlists:hover {
    background-color: rgb(11, 11, 11);
    cursor: pointer;
}

.your-playlists:hover .playlist-thumb {
    opacity: 0.4;
}

.your-playlists:hover .playlist-play-btn {
    display: block;
}

.playlist-info {
    margin-left: 60px;
}  
 

.your-playlists > .playlist-img {
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 12px;
}

.playlist-play-btn {
    display: none;
    position: relative;
    bottom:37px;
    left: 15px;
}

.playlist-info > p {
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
    white-space: nowrap;
}

.playlist-info > p:hover {
    cursor: pointer;
}

.playlist-about {
    opacity: 0.6;
}

.playlist, .recommend {
    padding: 17px;
}

.recommend {
    color: #fff;
}

#playlist-container {
    width: 23%;
    min-width: 322px;
    background-color: rgb(22 22 22);
    border: 1px solid rgb(22 22 22);
    border-radius: 10px;
    height: 660px;
    overflow-y: overlay;
}

#recommend-container {
    width: 75%;
    min-width: 650px;
    height: 660px;
    background-color: rgb(22 22 22);
    border: 1px solid rgb(22 22 22);
    border-radius: 10px;
    overflow-y: overlay;
    overflow-x: hidden;
    margin-left: 12px;
}

#playlist-container::-webkit-scrollbar {
    width: 10px;
}

#playlist-container::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

#playlist-container::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

#recommend-container::-webkit-scrollbar {
    width: 10px;
  }

#recommend-container::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

#recommend-container::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.playlist-header {
    display: flex;
    color: #ddd;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 38px;
}

/* .playlist-header-left {
    
} */

.playlist-header-right {
    margin-left: auto;
}

.playlist-header-left:hover {
    color: #fff;
    cursor: pointer;
}

.playlist-header-right:hover {
    color: #fff;
    cursor: pointer;
}

.recommend-header {
    display: flex;
    margin: 20px;
}

.title {
    color: #fff;
    margin: 0;
}

.title:hover {
    cursor: default;
}

.show-all {
    font-weight: 700;
    color: #b9b8b8;
    font-size: 14px;
    margin-left: auto;
    align-self: flex-end;
}

.show-all:hover {
    text-decoration: underline;
    cursor: pointer;
}

.playlist-content {
    color: #fff;
    background-color: rgb(42, 42, 42);
    margin-top: 10px;
    padding: 16px 24px;
    border-radius: 12px;
}

h4 {
    margin: 0;
}

h4, p {
    cursor: default;
}


.btn {
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 4px;
}

.btn:hover {
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    transform: scale(1.05);
}

.artist-container, 
.playlist-container,
.song-container {
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    overflow: hidden;
}

.artists, 
.playlists,
.songs {
    padding: 8px;
    background-color: rgb(22 22 22);
    border-radius: 12px;
    margin-left: 16px;
    transition: background-color 0.5s ease;
}

.artist-avt {
    width: 150px;
    height: auto;
    border-radius: 50%;;
}

.name {
    text-align: center;
    color: #fff;
    margin: 4px 0;
}


.song-thumb {
    width: 150px;
    height: auto;
    border-radius: 12px;
}

.playlist-thumb {
    width: 48px;
    height: auto;
    border-radius: 7px;
}

.playlist-thumb-recommend {
    width: 150px;
    height: auto;
    border-radius: 12px;
}

.artists:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.playlists:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.songs:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

#footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    background-color: black;
}

#footer-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 0 8px 10px 10px;
    color: #fff;
}

.song-playing-info {
    display: flex;
    align-items: center;
}

.song-playing-thumb {
    width: 56px;
    height: 56px;
    margin: 8px;
    border-radius: 12px;
}

.song-playing-detail {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 0;
}

.song-playing-name {
    margin: 0;
}

.song-playing-artist {
    margin: 0;
    opacity: 0.8;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.controll {
    display: flex;
    align-items: center;
    /* height: 36px; */
    height: 50%;
    align-items: center;
    /* justify-content: space-around; */
    /* padding: 0 155px; */
    gap: 28px;
    margin: 5px auto 0 auto;
}

.icon-pause {
    width: 16px;
    height: 16px;
    display: none;
    color: black;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.icon-play {
    color: black;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

/* .controll-btn {
    width: 10px;
    color: #666;
    padding: 18px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
} */

.duration {
    /* height: 29px; */
    display: flex;
    height: 50%;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.duration > span {
    margin: 0;
}

.duration > input {
    width: 60%;
}

#progress {
    --webkit-appearance: none;
    border-radius: 5px;
    height: 4px;
    background: #ddd;
    outline: none;
}

#progress::-webkit-slider-thumb {
    --webkit-appearance: none;
    appearance: none;
    background: #f5595c;
    border-radius: 50%;
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.controll-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(0.8);
}

.btn-active {
    color: #f5595c;
}

.nav-search-active {
    border: 2px solid #fff;
}

#playlist-playing-info {
    display: grid;
    grid-template-columns: 198px 568px;
    padding-bottom: 22px;
    /* background: linear-gradient(to bottom, rgba(251,165,252,0.8), rgba(251,165,252,0.6)) */
}

.playlist-playing-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 91px;
    margin-right: 21px;
    gap: 12px;
}

.playlist-playing-text > h1,
.playlist-playing-text > p{
    margin: 0;
}

#playlist-playing-info > .playlist-thumb-recommend {
    margin-top: 22px;
    margin-left: 22px;
}

.playlist-playing-content {
    /* background-color: #7e537e; */
    padding-left: 10px;
    /* height: 70px; */
    /* display: flex; */
    /* background: linear-gradient(to bottom, rgba(251,165,252,0.5), rgba(251,165,252,0)); */
    
}

.playlist-playing-content-heading {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 12px;
}

.playlist-playing-content-heading > .icon {
    background-color: #f5595c;
    border: none;
    font-size: 32px;
    width: 34px;
    height: 34px;
}

.active-playlist-playing {
    /* background: linear-gradient(to bottom, rgba(251,165,252,0.), rgba(251,165,252,0));  */
    padding: 0;
}

.playlist-playing-detail {
    color: #fff;
}

.table-title {
    opacity: 0.8;
}

th, td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

th:nth-child(1), td:nth-child(1) {
    padding-left: 35px;
    width: 100px;
}

th:nth-child(2), td:nth-child(2) {
    width: 500px;
}

th:nth-child(3), td:nth-child(3) {
    width: 300px;
}

th:nth-child(4), td:nth-child(4) {
    width: 100px;
}

.playlist-playing-detail-title {
    display: grid;
    grid-template-columns: 60px auto;
}

.playlist-playing-detail-title > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.playlist-playing-detail-title > img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.playlist-playing-detail-title h4 {
    margin: 0;
    font-size: 20px;
}

.playlist-playing-detail-title p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.all {
    background-color: #5c5c5c;
    padding: 6px 13px;
    font-size: 15px;
    border-radius: 9999px;
}

.filter-active {
    color: #000;
    background-color: #fff;
    padding: 6px 13px;
    font-size: 15px;
    border-radius: 9999px;
}

.result {
    margin-top: 60px;
    padding: 0 16px;
    display: flex;
}

.top-result-detail {
    background-color: #1b1b1b;
    border-radius: 12px;
    width: 400px;
    padding: 24px 0 8px 22px;
    transition: background-color ease 0.5s;
}

.top-result-detail:hover {
    cursor: pointer;
    background-color: #252525;
    transition: background-color ease 0.5s;
}

.top-result-detail > h1 {
    margin-bottom: 0;
}

.top-result-detail > p {
    opacity: 0.8;
}

.top-result-detail > img {
    width: 100px;
    height: auto;
    border-radius: 7px;
}

.songs-result {
    width: 600px;
    margin-left: 50px;
    flex-wrap: wrap;
}

.song-item {
    display: grid;
    grid-template-columns: 60px auto auto;
    padding: 10px;
    background-color: rgb(22, 22, 22);
    border-radius: 4px;
    transition: background-color ease 0.5s;
}

.song-item:hover {
    cursor: pointer;
    background-color: rgb(55, 54, 54);
    transition: background-color ease 0.5s;
}

.song-item-thumb {
    width: 40px;
    height: auto;
    border-radius: 4px;
}

.song-item-detail {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 4px;
}

.song-item-title{
    margin: 0;
}

.song-item-artist {
    margin: 0;
    opacity: 0.8;
}

.ellipsis {
    margin: auto 10px auto auto;
}

.ellipsis:hover {
    transform: scale(1.1);
}

.text-not-found {
    overflow-wrap: break-word;
    font-size: 35px;
    font-weight: 600;
   text-align: center;
}
